@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-indigo);
$my-theme-accent: mat-palette($mat-amber);
$my-theme-warn: mat-palette($mat-red);
$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme);

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  mat-form-field {
    margin-bottom: 1rem;
    border: 0px;
  }

  button {
    align-self: flex-end;
  }
}