<mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" class="home-icon" aria-label="home-button with menu icon">
        <mat-icon>home</mat-icon>
    </a>
    <span>Menu principal</span>
    <ng-container *ngIf="!isLogin; else loggedIn">
        <button mat-icon-button class="connection-icon" routerLink="/login" aria-label="connection-button">
            <mat-icon>account_circle</mat-icon>
            <span>Connexion</span>
        </button>
    </ng-container>
    <ng-template #loggedIn>
        <div class="connection-icon" aria-label="connection-button">
            <span>connecté </span>
            <button mat-icon-button (click)="logOut()">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </ng-template>
</mat-toolbar>
<app-sidenav #sidenav></app-sidenav>